<!DOCTYPE html>
<html>
<head>
    <title>DBD Perk Randomizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>DBD Perk Randomizer</h1>

    <select id="mode">
        <option value="any">Survivor Any</option>
        <option value="exhaustion">Exhaustion</option>
        <option value="healing">Healing</option>
        <option value="team">Team</option>
        <option value="stealth">Stealth</option>
        <option value="chase">Chase</option>
        <option value="generator">Generator</option>
        <option value="aura">Aura</option>
        <option value="anti_tunnel">Anti Tunnel</option>
        <option value="killer">Killer</option>
    </select>

    <button onclick="generate()">Generate Build</button>

    <ul id="result"></ul>

    <script src="/static/script.js"></script>
</body>
</html>
