<!DOCTYPE html>
<html>
<head>
    <title>DBD Perk Randomizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>DBD Perk Randomizer</h1>

    <select id="mode">
        <option value="any">Any</option>
        <option value="exhaustion">Exhaustion</option>
        <option value="healing">Healing</option>
    </select>

    <button onclick="generate()">Generate Build</button>

    <ul id="result"></ul>

    <script src="/static/script.js"></script>
</body>
</html>